doctype html
html
  head
    title Image Search Abstraction Layer
    link(href='css/main.css', rel='stylesheet')
  body
    h1 Image Search Abstraction Layer
    h3 Example Usage
    h3 Input
    code https://enigmatic-beyond-94564.herokuapp.com/search/dog
    h3 Output
    code {"title": "dog", "url": http://wikipedia.org/dog/image, "context": http://wikipedia.org/dog/}
    h3 Input
    code https://enigmatic-beyond-94564.herokuapp.com/history
    h3 Output
    code {"query": "dog", "time": "Fri May 12 2017 13:47:43 GMT+0000 (UTC)"}
